<<<<<<< HEAD
/* Ganz nach: https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */
:root {
  font-size: calc(1rem + 0.25vw);
  --color-primary: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.windows {
  display: grid;
  width: 9100dvw;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.top-bar {
  grid-area: 1 / 1 / 2 / 2;
  justify-items: center;
}
=======

.footer {
 background-color: blueviolet;
  color: #fafafa;
  text-transform: uppercase;
}

>>>>>>> main
