/* Ganz nach: https://jameshfisher.com/2024/03/12/a-formula-for-responsive-font-size/ */

:root {
  font-size: calc(1rem + 0.25vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
